[tool.poetry]
name = "ultima-scraper-api"
version = "1.0.3"
description = ""
authors = [
    "DIGITALCRIMINALS <89371864+digitalcriminals@users.noreply.github.com>",
]
packages = [{include = "ultima_scraper_api"}]
include = ["ultima_scraper_api/py.typed"]

[tool.poetry.dependencies]
python = "^3.10"
requests = {extras = ["socks"], version = "2.28.2"}
orjson = "^3.8.3"
dill = "^0.3.6"
python-socks = {extras = ["asyncio"], version = "2.2.0"}
aiohttp = "^3.8.4"
aiohttp-socks = "^0.7.1"
mergedeep = "^1.3.4"
python-dateutil = "^2.8.2"
user-agent = "^0.1.10"
aiofiles = "^22.1.0"
beautifulsoup4 = "^4.11.1"
Sphinx = "^5.3.0"
sphinx-autoapi = "^2.0.0"
sphinx-rtd-theme = "^1.1.1"
mypy = "^0.991"
lxml =  "^4.9.1"

[tool.poetry.group.dev.dependencies]
python-semantic-release = "^7.33.2"

[tool.semantic_release]
version_toml = "pyproject.toml:tool.poetry.version"

[project.urls]
Homepage = "https://github.com/DIGITALCRIMINALS/UltimaScraperAPI"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
