[tool.poetry]
name = "ultima-scraper-api"
version = "0.0.1.6"
description = ""
authors = ["DIGITALCRIMINALS <89371864+DIGITALCRIMINALS@users.noreply.github.com>"]
packages = [{include = "ultima_scraper_api"}]
include = ["ultima_scraper_api/py.typed"]

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.28.1"
websockets = "^10.4"
orjson = "^3.8.3"
dill = "^0.3.6"
python-socks = "^2.0.3"
aiohttp = "^3.8.3"
aiohttp-socks = "^0.7.1"
mergedeep = "^1.3.4"
SQLAlchemy = "^1.4.44"
python-dateutil = "^2.8.2"
user-agent = "^0.1.10"
aiofiles = "^22.1.0"
beautifulsoup4 = "^4.11.1"
alembic = "^1.8.1"
Sphinx = "^5.3.0"
sphinx-autoapi = "^2.0.0"
sphinx-rtd-theme = "^1.1.1"
mypy = "^0.991"

[project.urls]
Homepage = "https://github.com/DIGITALCRIMINALS/UltimaScraperAPI"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
